/* CHAT STYLES */
* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}


.ce-chat-list {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.ce-chats-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
}


.ce-active-chat-card {
  background-color: #19b0e279 !important;
  border: 4px solid #2b4ad500 !important;
  border-radius: 0px !important;
  width: 100%;
}

.ce-chat-subtitle-text {
  color: #575757 !important;
}

.ce-chat-form-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 1em !important;
  margin-bottom: 1em;
  margin-top: 2em;
}


.ce-text-input {
  border-radius: 6px !important;
  margin-bottom: 0.5em;
}

.ce-primary-button {
  border-radius: 6px !important;
  background-color: #2B49D5 !important;
  bottom: 1px;

}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: rgb(240, 240, 240) !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #000000 !important;

}

.ce-autocomplete-options {
  border-radius: 6px !important;
  /* border: 1px solid #2B49D5 !important; */
  background-color: white !important;

}

.ce-chat-settings-container {
  padding-top: 12px !important;
  
}

.ce-chat-form-container > div {
  width: 100%;
}

.ce-chat-avatars-row {
  display: none !important;
}

.dark-button {
  position: absolute;
  z-index: 1000;
  top: 0.5em;
  left: 0.8em;
  
}



/* DARKMODE */

.dark {
  background-color: #00032a;

}

.dark .chat-feed {
  background-color: #04061f;
  
}

.dark .ce-chat-feed-column {
  background-color: #00032a;
}

.dark .ce-chats-container {
  background-color: #00032a !important;
  color: #ffffff;
  
}

.dark .ce-chat-form-container {
  background-color: #00032a !important;

}

.dark .ce-settings {
  background-color: #04061f !important;
  border-left: 1px solid #ffffff !important;
}

.dark .message-form-container {
  background-color: #00032a;
}

.dark .message-form {
  background-color: #2B49D5;
}

.dark .message-input {
  background-color: #2B49D5;
  border: none;
  color: white;
}

.dark .message-input::placeholder{
  color: #ffffff;
}

.dark .send-button {
  background-color: #2B49D5;
  border: none;
}

.dark .ce-chat-list {
  background-color: #00032a !important;
}

.dark .ce-chat-subtitle-text {
  color: #2CA2DA !important;
}

.dark .ce-chat-card {
  background-color: #2b4ad564 !important;
}

.dark #ce-add-username-input, .dark #ce-add-username-input::placeholder {
  color: #ffffff;
}

.dark .ce-autocomplete-input {
  background-color: #2B49D5;
  border: 1px solid #2B49D5 !important;
}

.dark .ce-autocomplete-options {
  background-color: #2B49D5 !important;
  color: #ffffff;
}

.dark .ce-person-text {
  color:#ffffff;
}

.dark .ce-text-input {
  background-color: #2b4ad564;
  color: #ffffff;
}

.dark .ce-people {
  background-color: #2b4ad564 ;
}

.dark .ce-person-title-container, 
.dark .ce-photo-title-container,
.dark #ce-options-drop-down {
  background-color: #2b4ad564 !important;
  color: #ffffff;
}

.dark .ce-person-title-container :hover, 
.dark .ce-photo-title-container :hover,
.dark #ce-options-drop-down :hover {
  background-color: #00032a !important;
}

.dark .ce-photo-section,
.dark .ce-settings-container > div,
.dark .ce-settings-container > div > div {
  border-top: 0.5px solid #00032a !important;
}

.dark #ce-options-drop-down {
  border-top: 1px solid #00032a !important;
}


/* CUSTOM FEED */

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: rgb(240, 240, 240);
}

.chat-title-container {
  width: 100%;
  padding: 18px;
  text-align: center;
}

.chat-title {
  color: #2B49D5;
  font-weight: 800;
  font-size: 24px;
}


.chat-subtitle {
  color: #2CA2DA;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 18px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
  width: fit-content;
}

.message-image {
  margin-right: 18px;
  object-fit: cover;
  border-radius: 6px;
  height: 30vw;
  /* width: 30vw; */
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 18px;
  background-color: rgb(240, 240, 240);
}

.message-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  border-radius: 6px;
  border: 2px solid #2B49D5;
  background-color: white;
}

.message-input {
  height: 40px;
  width: calc(100% - 132px);
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  outline: none;
  font-size: 15px;
}

.image-button {
  cursor: pointer;
  height: 100%;

}

.send-button {
  height: 42px;
  background-color: white;
  border: 1px solid white;
  padding: 0px 10px;
  cursor: pointer;

}

.send-icon {
  top: 1px;
  position: relative;
  scale: 1.5;
  color: #2CA2DA;
}

.picture-icon {
  top: 1px;
  padding-top: 0.8em;
  position: relative;
  font-size: 14px;
  scale: 1.5;
  color: #2CA2DA;
}

/* FORM STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62,5%;
}

.wrapper {
  height: 100vh;
	width: 100%;
  background: #2CA2DA;
  background: linear-gradient(90deg, #2CA2DA, #2B49D5);  
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}

.form {
  width: 400px;
}

.title {
  margin-bottom: 10px;
  width: 100%;
  font-size: 2.3em;
}

.button {
  border-radius: 4px;
  border: none;
  background-color: white;
  color: #2B49D5;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 90%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}